#yoda {
    width: auto;
    max-height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%) rotate(90deg);
}

#outer-div {
    position: fixed;
    text-align: center;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#music {
    font-size: 25pt;
}
body {
    background-color: black;
    font-family: 'Staatliches', cursive;
    color: white;
}

#counter {
    float: none;
    font-family: 'Overpass Mono', monospace;
    font-size: 40pt;
    background-color: #333333;
    padding: 10px;
    padding-bottom: 0px;
    max-width: 50%;
    margin-top: 2%;
}

#messages {
    font-size: 50pt;
    visibility: hidden;
}

#countdown {
    font-size: 30pt;
    visibility: hidden;
    font-family: 'Overpass Mono', monospace;
    padding-bottom: 0px;
}

.yolo {
    fill: white;
}

#reverse-layout {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

#bottom-bar {
    width: 100%;
    align-content: left;
    display: flex;
}

.bottom-feeder {
    margin-left: 10px;
    color: #333333;
}